body {    
    margin: 10 !important;
    padding: 0 !important;
}

#canvas {
	border: 2px solid black;
	width: 700px;
	height: 700px;
	display: flow-root;
}

.point {
	background-color: black;
	border-radius: 16px;
	width: 6px;
	height: 6px;

	position: absolute;
	z-index: 3;	
	/*display: inline-block;*/	
}

.point:hover {
	background-color: firebrick;
}

.line {
	background-color: rgb(200, 200, 200);
	border-radius: 16px;
	width: 2px;
	/*height: 100px;*/

	position: absolute;
	
	/*display: inline-block;*/
	
}


.pointCoordinates {
	/*margin-left: 10px;*/
	opacity: 25%;
	font-family: "SF Pro Display";
	font-size: 8pt;
	position: absolute;
	/*display: inline-block;*/
}

.pointCoordinates:hover {
	opacity: 100%;
}